CONFIG_CUSTOM_PROJECT_OT11=y
# Tab A9 code for SR-AX6739A-01-515 by lina at 20230505 start
CONFIG_BATTERY_ID_ADC=m
# Tab A9 code for SR-AX6739A-01-515 by lina at 20230505 end
# Tab A9 code for SR-AX6739A-01-392 by gaochao at 20230426 start
CONFIG_SPI_SPIDEV=m
CONFIG_GRDM_POWER=m
# Tab A9 code for SR-AX6739A-01-392 by gaochao at 20230426 end
# Tab A9 code for SR-AX6739A-01-259 by wenghailong at 20230510 start
CONFIG_ODM_SEC_COMMON=m
# Tab A9 code for SR-AX6739A-01-259 by wenghailong at 20230510 end
# Tab A9 code for AX6739A-16 by wenghailong at 20230424 start
# Tab A9 code for SR-AX6739A-01-619 by yuli at 20230602 start
# Tab A9 code for SR-AX6739A-01-725 by hehaoran at 20230609 start
CONFIG_TOUCHSCREEN_MTK_TOUCH="hxchipset chipone jdchipset novatek"
# Tab A9 code for SR-AX6739A-01-725 by hehaoran at 20230609 end
CONFIG_DRM_LCD_NT36523D_LC_HSD_VIDEO=m
# Tab A9 code for SR-AX6739A-01-619 by yuli at 20230602 end
CONFIG_DRM_PANEL_BIAS_VDO=m
# Tab A9 code for SR-AX6739A-01-282 by wenghailong at 20230502 start
CONFIG_DRM_LCD_HX83102E_XX_INX_VIDEO=m
# Tab A9 code for SR-AX6739A-01-282 by wenghailong at 20230502 end
# Tab A9 code for SR-AX6739A-01-713 by suyurui at 20230601 start
CONFIG_DRM_LCD_NL9951_GX_BOE_VIDEO=m
# Tab A9 code for SR-AX6739A-01-713 by suyurui at 20230601 end
# Tab A9 code for SR-AX6739A-01-719 by zhawei at 20230610 start
CONFIG_DRM_LCD_HX83102E_LC_HKC_VIDEO=m
# Tab A9 code for SR-AX6739A-01-719 by zhawei at 20230610 end
# Tab A9 code for SR-AX6739A-01-725 by hehaoran at 20230609 start
CONFIG_DRM_LCD_JD9366TC_XX_HKC_VIDEO=m
# Tab A9 code for SR-AX6739A-01-725 by hehaoran at 20230609 end
# Tab A9 code for SR-AX6739A-01-768 by liudi at 20230715 start
CONFIG_DRM_LCD_HX83102E_CD_INX_VIDEO=m
# Tab A9 code for SR-AX6739A-01-768 by liudi at 20230715 end
CONFIG_DRM_LCD_HX83102E_GX_HSD_INCELL_VIDEO=m
# Tab A9 code for AX6739NU-17 by liuzheng at 20241125 start
CONFIG_DRM_LCD_HX83102E_CD_INX_NEW_VIDEO=m
# Tab A9 code for AX6739NU-17 by liuzheng at 20241125 end
CONFIG_DRM_LCD_DEFAULT_MIPI_FHD_VIDEO=m
# Tab A9 code for AX6739A-16 by wenghailong at 20230424 end
# Tab A9 code for SR-AX6739A-01-194 by yingboyang at 20230425 start
CONFIG_EARJACK_NODE_SWITCH=y
# Tab A9 code for SR-AX6739A-01-194 by yingboyang at 20230425 end
# Tab A9 code for AX6739A-30 by qiaodan at 20230502 start
CONFIG_ODM_BOARD_ID_STATUS_SUPPORT=m
# Tab A9 code for AX6739A-30 by qiaodan at 20230502 end
# Tab A9 code for SR-AX6739A-01-314 by xiongxiaoliang at 20230502 start
CONFIG_INPUT_SAR=m
CONFIG_SAR_SX933X=m
# Tab A9 code for SR-AX6739A-01-314 by xiongxiaoliang at 20230502 end
CONFIG_SENSORS_CORE=m
# Tab A9 code for SR-AX6739A-01-494 by qiaodan at 20230502 start
CONFIG_TCPC_ET7304=m
CONFIG_CHARGER_UPM6910X=m
# Tab A9 code for SR-AX6739A-01-494 by qiaodan at 20230502 end
# Tab A9 code for SR-AX6739A-01-498 by lina at 20230505 start
CONFIG_TCPC_CPS8851=m
# Tab A9 code for SR-AX6739A-01-498 by lina at 20230505 end
# Tab A9 code for SR-AX6739A-01-493 by wenyaqi at 20230502 start
CONFIG_CHARGER_SC89601D=m
# Tab A9 code for SR-AX6739A-01-493 by wenyaqi at 20230502 end
# Tab A9 code for SR-AX6739A-01-497 by wenyaqi at 20230506 start
CONFIG_TCPC_AW35615=m
# Tab A9 code for SR-AX6739A-01-497 by wenyaqi at 20230506 end
# Tab A9 code for SR-AX6739A-01-490 by qiaodan at 20230504 start
CONFIG_GXY_PSY_SYSFS=m
# Tab A9 code for SR-AX6739A-01-490 by qiaodan at 20230504 end
# Tab A9 code for SR-AX6739A-01-499 by wenyaqi at 20230515 start
CONFIG_AFC_CHARGER=m
# Tab A9 code for SR-AX6739A-01-499 by wenyaqi at 20230515 end
#Tab A9 code for SR-AX6739A-01-348 by Niebingling at 20230506 start
CONFIG_HQ_SIM_TRAY_CHECK=m
# Tab A9 code for SR-AX6739A-01-348 by Niebingling at 20230506 end
# Tab A9 code for SR-AX6739A-01-371 by tangyuhang at 20230526 start
CONFIG_TRIGGER_CRASH_BY_KEY=m
# Tab A9 code for SR-AX6739A-01-371 by tangyuhang at 20230526 end
# Tab A9 code for SR-AX6739A-01-461 by qiaodan at 20230607 start
CONFIG_GXY_VBUS_CTRL=m
# Tab A9 code for SR-AX6739A-01-461 by qiaodan at 20230607 end
# Tab A9 code for SR-AX6739A-01-452 by gaozhengwei at 20230612 start
CONFIG_GXY_PWRON_ALARM=m
# Tab A9 code for SR-AX6739A-01-452 by gaozhengwei at 20230612 end
# Tab A9 code for AX6739A-1334 by gaozhengwei at 20230620 start
CONFIG_CHARGER_SGM415XX=m
# Tab A9 code for AX6739A-1334 by gaozhengwei at 20230620 end
#Tab A9 code for AX6739A-2537 by lina at 20230728 start
CONFIG_GXY_VIRTUAL_BACK_TEMP=m
CONFIG_GXY_VIRTUAL_FRONT_TEMP=m
#Tab A9 code for AX6739A-2537 by lina at 20230728 end

CONFIG_LEDS_REGULATOR_VIBRATOR=m

# Disable defex
CONFIG_SECURITY_DEFEX=n
CONFIG_SECURITY_DSMS=n

# Custom version
CONFIG_LOCALVERSION="-Project-Infinity"

# Power & Wakelocks
CONFIG_PM_WAKELOCKS_GC=y
CONFIG_CPU_IDLE_MULTIPLE_DRIVERS=n
CONFIG_CPU_IDLE_GOV_MENU=n

# Network
CONFIG_TCP_CONG_ADVANCED=y
# CONFIG_TCP_CONG_BIC is not set
CONFIG_TCP_CONG_CUBIC=y
# CONFIG_TCP_CONG_WESTWOOD is not set
# CONFIG_TCP_CONG_HTCP is not set
# CONFIG_TCP_CONG_HSTCP is not set
# CONFIG_TCP_CONG_HYBLA is not set
# CONFIG_TCP_CONG_VEGAS is not set
# CONFIG_TCP_CONG_NV is not set
# CONFIG_TCP_CONG_SCALABLE is not set
# CONFIG_TCP_CONG_LP is not set
# CONFIG_TCP_CONG_VENO is not set
# CONFIG_TCP_CONG_YEAH is not set
# CONFIG_TCP_CONG_ILLINOIS is not set
# CONFIG_TCP_CONG_DCTCP is not set
# CONFIG_TCP_CONG_CDG is not set
CONFIG_TCP_CONG_BBR=y
# CONFIG_DEFAULT_CUBIC is not set
CONFIG_DEFAULT_BBR=y
# CONFIG_DEFAULT_RENO is not set
CONFIG_DEFAULT_TCP_CONG="bbr"

CONFIG_NET_SCH_FQ=y
CONFIG_NET_SCH_DEFAULT=y
CONFIG_DEFAULT_FQ=y

# SDFAT for sdcard
CONFIG_SDFAT_SUPPORT_DIR_SYNC=y
CONFIG_SDFAT_VIRTUAL_XATTR=y
CONFIG_SDFAT_VIRTUAL_XATTR_SELINUX_LABEL="u:object_r:vfat:s0"
CONFIG_SDFAT_DEBUG=y
CONFIG_SDFAT_DBG_MSG=y
CONFIG_SDFAT_STATISTICS=y

# Misc
CONFIG_USB_MASS_STORAGE=y
CONFIG_USB_G_WEBCAM=y
CONFIG_NETFILTER_XT_TARGET_HMARK=y
CONFIG_NETFILTER_XT_MATCH_CONNLABEL=y
CONFIG_IP6_NF_NAT=y
CONFIG_IP6_NF_TARGET_MASQUERADE=y
CONFIG_IP6_NF_TARGET_NPT=y
CONFIG_MTK_PLATFORM="mt6789"
CONFIG_ARCH_MTK_PROJECT="ot11"
CONFIG_MTK_DTBO_FEATURE=y
CONFIG_BUILD_ARM64_DTB_IMAGE_NAMES="mediatek/mt6789"
CONFIG_BUILD_ARM64_DTB_OVERLAY_IMAGE_NAMES="mediatek/mt8781_gta9_eur_open_00"
CONFIG_UNAME_OVERRIDE=y
CONFIG_UNAME_OVERRIDE_TARGET="com.google.android.gms"
CONFIG_UNAME_OVERRIDE_STRING="5.10.205-android12-9"
CONFIG_KSM=y
CONFIG_IP_NF_TARGET_TTL=y
CONFIG_IP6_NF_MATCH_HL=y
CONFIG_IP6_NF_TARGET_HL=y
CONFIG_OPLUS_MEM_OPT_SUITE=y
CONFIG_OPLUS_SHRINK_LRUVECD_OPT=y
CONFIG_OPLUS_SHRINK_SLABD_OPT=y
CONFIG_OPLUS_PCPAGES_OPT=y
CONFIG_OPLUS_MAPPED_PROTECT_OPT=y
CONFIG_OPLUS_KSWAPD_ALLOC_ADJUST_OPT=y

# Zram built-in
CONFIG_ZSMALLOC=y
CONFIG_ZRAM=y
# CONFIG_ZRAM_WRITEBACK is not set
CONFIG_ZRAM_DEF_COMP_LZ4=y
CONFIG_ZRAM_DEF_COMP="lz4"
CONFIG_ZRAM_SIZE_OVERRIDE=2

# MM
CONFIG_DAMON_VADDR=y
CONFIG_DAMON_RECLAIM=y

# SSG built-in I/O schedular
CONFIG_BLK_SEC_STATS=y
CONFIG_MQ_IOSCHED_SSG=y
CONFIG_MQ_IOSCHED_SSG_CGROUP=y
CONFIG_MQ_DEADLINE_DEFAULT=n
CONFIG_MQ_SSG_DEFAULT=y

# Sched PELT
CONFIG_PELT_UTIL_HALFLIFE_16=y

CONFIG_KSU=y

CONFIG_FRAME_WARN=0
# CONFIG_KALLSYMS_ALL is not set

# CONFIG_LTO_CLANG_FULL is not set
CONFIG_LTO_CLANG_THIN=y
CONFIG_HZ_100=y
